# Preparing datasets

Let's get started by loading two datasets:

As you can see, the second dataset does not have column headers. We can add them as follows:

We can convert the second dataset to only have one column for names:

## Bringing together the datasets

Now the datasets are compatible, we can merge them in a few different ways.

### Left join

A left join starts from the left dataset, in this case ```dataset_1```, and for every row matches the value in the column used for joining. As you will see, the result has 22 rows, since some names appear multiple times in the second dataset ```dataset_2```.

### Right join

A right join does the opposite: now, ```dataset_2``` is used to match all names with the corresponding observations in ```dataset_1```. There are as many observations as there are in ```dataset_2```, as the rows in ```dataset_1``` are unique. The last row cannot be matched with any observation in ```dataset_1```.

### Inner and outer join

It is also possible to retain only the values that are matched in both tables, or match any value that matches. This is using an inner and outer join respectively.

Notice how observation 12 is missing, as there is no corresponding value in ```dataset_1```.

In the last table, we have 23 rows, as both matching and non-matching values are returned.

Now that you have seen one way to merge datasets, spend some time experimenting to discover other quicker, easier or preferable ways to achieve the same result.