# Merging datasets yourself

Before you begin, let's load the data:

In [1]:
import pandas as pd
import numpy as np

dataset_1 = pd.read_csv('NB_1.csv', encoding='latin1')
dataset_2 = pd.read_csv('NB_2.csv', encoding='latin1')

In [2]:
dataset_1.head()

,Name,Company,ID,Location
0,"Rosa, Christian L.",In Foundation,16711119-3954,"-73.86523, -53.09301"
1,"Phillips, Astra E.",Ut Sagittis Corp.,16560609-6138,"-59.69381, 87.70082"
2,"Casey, Cullen Y.",Lacus Quisque LLC,16450127-1664,"3.9228, 175.32174"
3,"Hartman, Margaret K.",Leo Cras Associates,16810220-6854,"80.3949, 69.60191"
4,"Best, Kato K.",Dolor Institute,16860414-7325,"16.59104, 155.73971"

In [3]:
dataset_2.head()

    Name             ID  Salary
0  Ro Ch  16711119-3954   61412
1  Ph As  16560609-6138   65622
2  Ca Cu  16450127-1664   84546
3  Ha Ma  16810220-6854   97292
4  Be Ka  16860414-7325   94484

## Merge based on ID

First, write a function that merges the two datasets based on ID, where only the values present in both tables are withheld:

In [4]:
def merge_datasets_by_id(ds_1, ds_2, key):
    
    ### BEGIN SOLUTION    
    # We can simply use the merge function from pandas
    # We use 'inner', because we only want to join when values are present in boht datasets
    merged_set = pd.merge(ds_1, ds_2, on= key, how= 'inner')
    ### END SOLUTION
    
    return merged_set

Your answer will be verified below (no need for you to do anything).

In [5]:
### BEGIN HIDDEN TESTS
from pandas.testing import assert_frame_equal
merged_set = pd.merge(dataset_1, dataset_2, on = 'ID', how= 'inner')
assert merged_set.equals(merge_datasets_by_id(dataset_1, dataset_2, 'ID'))
### END HIDDEN TESTS

## Merge based on name

Next, merge the two datasets based on the name. Remember, you have to make the appropriate changes by converting the format of the first dataset into that of the second dataset before merging. Also, make sure that only values matched by the second dataset are present:

In [6]:
def merge_datasets_by_name(ds_1, ds_2, key):
    
    ### BEGIN SOLUTION    
    # Create a list to store the altered names in dataset 1
    names = []
    for name in ds_1['Name']:
        # Split the name and only retain the last two letters like in dataset 2
        new_name = name.split(' ')[0][:2]+" "+name.split(' ')[1][:2]
        names.append(new_name)
        
    # Replace the values in the dataset
    ds_1['Name']=names
    
    # Finally, merge like before, now using a right join
    merged_set = pd.merge(ds_1, ds_2, on= 'Name', how= 'right')
    ### END SOLUTION
    
    return merged_set

In [7]:
from pandas.testing import assert_frame_equal
dataset_1['Name'] = [na.split(' ')[0][:2]+" "+na.split(' ')[1][:2] for na in dataset_1['Name']]
merged_set = pd.merge(dataset_1, dataset_2, on = 'Name', how= 'right')
assert merged_set.equals(merge_datasets_by_name(dataset_1, dataset_2, 'ID'))